html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
}

h1, h2, p, span {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#clock {
  font-size: 168px;
  color: white;
}

#quote {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  font-size: 18px;
  color: white;
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

.greeting {
  font-size: 54px;
  color: white;
}

.hidden {
  display: none;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.hide-overlay {
  opacity: 0;
}
